networks:
  btbtest_net:
    driver: bridge

services:
  nginx:
    image: nginx:1.27
    container_name: nginx
    restart: always
    ports:
      - "8151:8080"
    volumes:
      - ../files:/tmp/files
      - "D:/Projets/JavaProject/files:/tmp/files"
#      - ./files.conf:/etc/nginx/conf.d/files.conf

  dev-db:
    image: mysql
    container_name: res-btbtest_dev
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: dev-root
      MYSQL_DATABASE: dev_btbtest_db
    ports:
      - "3310:3306"

  prod-db:
    image: mysql
    container_name: res-btbtest_prod
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: prod-root
      MYSQL_DATABASE: prod_btbtest_db
    ports:
      - "3309:3306"

  adminer:
    image: adminer
    container_name: adminer_btbtest
    restart: always
    ports:
      - "8091:8080"

  smtp4dev:
    container_name: smtp4dev_btbtest
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      # Change the number before : to the port the web interface should be accessible on
      - '3001:80'
      # Change the number before : to the port the SMTP server should be accessible on
      - '8025:25'